<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/ECG_Loading_%26_Filtering_Data_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import pandas
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# open the excel file RailsToTrails National Count Data_week.xlsx
rails = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/RailsToTrails_National Count Data_week.xlsx')

In [5]:
# check the first 10 rows of the dataframe
rails.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [9]:
# select only data after july 31 2020
july31_filter = rails["Week of"] > '2020-07-31'
july31_filter.head()

0     True
1    False
2    False
3    False
4    False
Name: Week of, dtype: bool

In [12]:
rails.loc[july31_filter, :].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605.0,239827.0,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN

In [11]:
# select data where the 'Change 2019-2020' is greater than 1
change_filter = rails['Change 2019-2020'] > 1
change_filter.head()

0    False
1    False
2    False
3    False
4    False
Name: Change 2019-2020, dtype: bool

In [13]:
rails.loc[change_filter, :].head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
11,Week 12,2020-03-16,125440.0,367795.0,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330.0,372783.0,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784.0,280728.0,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033.0,419160.0,NaN,2.170000,317.466088,NaN,NaN,NaN

In [14]:
# combine both columns (how only the header)
rails_filter = rails.loc[july31_filter & change_filter, :]
rails_filter

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []