<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/First_Model_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount drive
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from pandas.core.arrays import categorical

In [3]:
# import file
filename = '/content/drive/MyDrive/Colab Notebooks/insurance.csv'
df = pd.read_csv(filename)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

How well can the charge be predicted based on the age, sex, bmi, number of children, smoking habit and region of the patient?

In the preprocessing exercise you were asked to:

Define features (X) and target (y)

Train test split the data to prepare for machine learning

Identify each feature as numerical, ordinal, or nominal. (Please provide this answer in a text cell in your Colab notebook)

Ordinal encode any ordinal features

One Hot Encode any nominal features 

Scale any numeric features

Concatenate all features back into one dataframe.

In [4]:
# Define features (X) and target (y)
y = df['charges']
X = df.drop(columns = ['charges'])

In [5]:
# Train test split the data to prepare for machine learning
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

Identify each feature as numerical, ordinal, or nominal. (Please provide this answer in a text cell in your Colab notebook)

numerical = age, bmi

ordinal

nominal = sex, children, region

In [6]:
# Ordinal encode any ordinal features
# there are no ordinal features for this dataset

In [7]:
# One Hot Encode any nominal features
# create selectors
cat_selector = make_column_selector(dtype_include = 'object')
num_selector = make_column_selector(dtype_include = 'number')

# select categorical and numerical columns
cat_selector(X_train)
num_selector(X_train)

['age', 'bmi', 'children']

In [8]:
# create subset for categorical cols
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

         sex smoker     region
693     male     no  northwest
1297  female     no  southeast
634     male     no  southwest
1022    male    yes  southeast
178   female     no  southwest
...      ...    ...        ...
1095  female     no  northeast
1130  female     no  southeast
1294    male     no  northeast
860   female    yes  southwest
1126    male     no  southwest

[1003 rows x 3 columns]

In [9]:
# create subset for numerical cols
train_num_data = X_train[num_selector(X_train)]
test_num_data = X_test[num_selector(X_test)]
train_num_data

      age     bmi  children
693    24  23.655         0
1297   28  26.510         2
634    51  39.700         1
1022   47  36.080         1
178    46  28.900         2
...   ...     ...       ...
1095   18  31.350         4
1130   39  23.870         5
1294   58  25.175         0
860    37  47.600         2
1126   55  29.900         0

[1003 rows x 3 columns]

In [10]:
# Ordinal encode any categorical features
ohe = OneHotEncoder(handle_unknown = 'ignore', sparse = False)
ohe.fit(train_cat_data)

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [11]:
# Scale any numeric features
scaler = StandardScaler()
scaler.fit(train_num_data)

StandardScaler()

In [12]:
# transform categorical train and test data
train_ohe = ohe.transform(train_cat_data)
test_ohe = ohe.transform(test_cat_data)
train_ohe

array([[0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [13]:
# transform numerical train and test data
train_num = scaler.transform(train_num_data)
test_num = scaler.transform(test_num_data)
train_num

array([[-1.08716652, -1.14087456, -0.91749963],
       [-0.80210593, -0.66584152,  0.7436053 ],
       [ 0.83699246,  1.52879447, -0.08694717],
       ...,
       [ 1.33584849, -0.8879673 , -0.91749963],
       [-0.1607196 ,  2.84324666,  0.7436053 ],
       [ 1.12205304, -0.10179179, -0.91749963]])

In [15]:
# compose header names for numerical data
# create numerical data col names using list
num_colNames = ['age', 'bmi', 'children']

# create dataframe from numerical array
train_num_df = pd.DataFrame(train_num, columns = num_colNames)
test_num_df = pd.DataFrame(test_num, columns = num_colNames)
train_num_df

           age       bmi  children
0    -1.087167 -1.140875 -0.917500
1    -0.802106 -0.665842  0.743605
2     0.836992  1.528794 -0.086947
3     0.551932  0.926476 -0.086947
4     0.480667 -0.268178  0.743605
...        ...       ...       ...
998  -1.514757  0.139468  2.404710
999  -0.018189 -1.105101  3.235263
1000  1.335848 -0.887967 -0.917500
1001 -0.160720  2.843247  0.743605
1002  1.122053 -0.101792 -0.917500

[1003 rows x 3 columns]

In [16]:
# Return all column names to the combined dataframe
# get column names of categorical training set
ohe_column_names = ohe.get_feature_names(train_cat_data.columns)
train_ohe_df = pd.DataFrame(train_ohe, columns = ohe_column_names)
test_ohe_df = pd.DataFrame(test_ohe, columns = ohe_column_names)
train_ohe_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
998,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
999,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1000,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1001,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1002,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

In [20]:
# Concatenate all features back into one dataframe
# combine transformed train numerical and categorical data
trained_final = pd.concat([train_num_df, train_ohe_df], axis=1)
trained_final

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,-1.087167,-1.140875,-0.917500,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-0.802106,-0.665842,0.743605,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.836992,1.528794,-0.086947,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.551932,0.926476,-0.086947,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.480667,-0.268178,0.743605,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
998,-1.514757,0.139468,2.404710,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
999,-0.018189,-1.105101,3.235263,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1000,1.335848,-0.887967,-0.917500,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1001,-0.160720,2.843247,0.743605,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1002,1.122053,-0.101792,-0.917500,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

In [24]:
# combine transformed test numerical and categorical data
test_final = pd.concat([test_num_df, test_ohe_df], axis=1)
test_final

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.409402,-0.887967,0.743605,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,-0.231985,-0.081825,-0.917500,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.763439,-0.603447,-0.917500,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.480667,-0.793127,1.574158,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-1.443492,0.234309,-0.917500,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
330,1.478379,-0.492800,-0.917500,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
331,1.335848,0.724316,-0.917500,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
332,-0.374515,0.380729,-0.086947,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
333,-1.443492,-0.043557,-0.917500,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
334,0.124341,0.505518,-0.917500,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

For this task, you will need to:

Instantiate a linear regression model

Fit the model on the training data

Evaluate the model performance on both the training set and the test set using 
R^2 score

In [18]:
# Instantiate a linear regression model
reg = LinearRegression()

In [22]:
# train the model on training data (it attempts to learn the relationship between X and y)
# Fit the model on the training data
reg.fit(trained_final, y_train)

LinearRegression()

In [23]:
# Evaluate the model performance on both the training set and the test set using R^2 score
trained_score = reg.score(trained_final, y_train)
print(trained_score)

0.7449555328228536

In [25]:
tested_score = reg.score(test_final, y_test)
print(tested_score)

0.7672642952734358

In [27]:
# obtain predictions
# results of the train set
trained_pred = reg.predict(trained_final)

# results of the test set
test_pred = reg.predict(test_final)

# display values of the train and test predictions
print(trained_pred, test_pred)

[ 1821.07697573  4210.87812211 14204.47142399 ... 11519.93276918
 37265.47959158 11486.37392937] [ 8952.20855705  7053.79716786 36888.36911226  9522.49758674
 26961.84638217 10878.24576086    89.95864742 17048.24399155
  1006.23867932 11302.09430243 28036.76259     9444.23207397
  5090.59852807 38369.13934993 40238.44085051 37043.52510441
 15157.6217689  35786.45033247  8980.90054273 31436.27281745
  3791.34836424 10141.36936164  2309.82565378  7099.20715474
 11322.40664032 12986.05256732 14505.85582873  6125.81855012
  9955.67799246  2040.75103594  9048.52487793 13119.24154371
  4381.27730454  3353.72687497  4417.77179571 13116.17314322
  1850.73309103  8751.77062758 33263.22537744 32490.29160162
  3785.06778413  4343.13214618 14131.72754086 11521.25221478
  8694.41720188 12135.83910995  5239.14427913  3028.64250368
 35422.31235261  9072.25521766 15771.39108856  2205.60388478
 12392.57177685  1457.80222522 13364.21267639 12652.49704026
  4347.31547661 32196.15657412 13306.99850047 12920.11780193
 14163.37012555 10374.28695392 16430.41508859  7753.62608057
 11853.45722011  4015.20727411 26568.39915533 10876.591913
  2074.20316868  6180.92233554 10789.14757384 11632.94303632
 10867.81565006  9093.42384454 11908.72406479  6593.59689717
  7269.06359177 10761.32184393  6416.21277358  8696.84220886
  3643.97635114 36705.32993901  6288.43288327 30776.9464513
 34761.37217794 35333.04615122  6921.6639956  12968.43148452
  9950.1383906  14523.32853942 17756.0913206  35138.60874875
 32998.16687027  6202.41854801 31898.31346943  9486.20008305
 29321.21952463  3486.2182634  28243.10350529  5774.9056231
  5373.77296696  1754.49567972 11450.92151108 15132.29692316
 11782.30002125  4186.66721576  9830.86370875 31618.17869742
  -123.99019429 32671.87295414  3227.2992376  10113.64728218
 14354.20538856 31592.22979505 11468.80756565  3879.44509033
 13201.31324152 31721.29624129  8005.25440306  3246.93370541
  8413.77149603 10670.92823604 15256.69942358  5542.17761203
  3731.51748197 10237.92807316 10781.14982909 11191.61521365
 14359.11102206  7338.37441675  5218.69538409  9154.2459964
  9205.42059397 12554.04706854  8272.20796252 15397.96740797
  8451.17860463 31775.64619265 35795.64415007 31557.22023617
  5988.50839554 12626.8408814   5911.91066454 14611.01750072
  2362.97433095 32950.87493315  6301.95423696  4937.94028297
 14390.51885498  6924.28700901 38701.5725012   3033.06037876
  5778.60637742 31699.67155945 11582.79120914  8517.11337002
 14914.97519181  9689.06681679 26894.37217403 33486.1273226
 14587.01924361  1614.03162043 13214.83043914  2207.13526551
  5409.37992576 11516.95109405 39798.618799   36523.67018837
 34040.39968571  3787.9645217   7387.18915913  8596.76917595
 12526.87568318  4839.70060086  1921.7175231  32019.46031165
 25022.75106026 17497.0221789  26334.39641587 10181.62705034
 37274.42740204  -546.03141929  6830.81970765  7706.41704777
  4366.47419533  5068.16529905  5934.57959603  4202.58960642
 15108.95706193 11225.23167527  6904.52206235  2445.1870921
  1449.94851365 31913.56336976 16417.0966115  11908.33642323
  1194.37240709 12547.79889484  1476.74275362  8681.47170295
  1810.47964517 33979.91533246 10793.69491556  2602.66041786
 25449.92098522 26130.5911792   9507.4542965   1728.67850157
 13230.90838927   986.31944953 10415.3965971  10453.75403033
 16991.66837588 26701.53959532  6848.68439883  5141.01147579
  5680.55041943 13134.25611151 10993.01497392  8218.23957001
  5096.33134852 12404.55645496 13822.51269162 35706.00214475
  4174.88124703 28790.68610491 -1065.88607794  2879.50670059
 10997.45509712 15599.46312682  5099.7136935   6880.68544257
  3742.57582259 31287.69875744  7237.1535095  12369.17541992
  5646.72201153  9538.44782963 36185.70570588  4312.73783097
  9669.29119552 31122.47207875  5715.16666752  4423.86328905
  1039.46245749  4858.27952194  4468.38677953  6485.2211408
 18599.00731274 -1575.33725639  2251.98283454 10706.47476894
  3037.71278127 10213.96089217  3680.04620918  4949.18927768
 12444.68706375  6253.22658315  8279.43868882  7551.74318174
  8919.85917716 10509.9290678  27671.35574328 39036.24841879
 11797.07275729  7722.40716867 40840.41127597 12289.92132576
  7081.20228161  8327.91707619  9028.16156947 11000.12354674
 10101.19771623 17573.80552654   970.26343618 23538.69027396
 12728.77986977 33191.47859258  5205.80816007 13130.05888258
 10396.62292004 17841.99235462  9889.07421803 11476.6244514
 32226.24694517  3307.44913477 13568.33140866 39313.48565863
  5516.29219218  6148.16683041  3381.34995262 11393.97213966
 25455.98982766 14180.6699037   9202.03941201 10094.06050144
 13446.45218589   906.13805158  2323.43062591 30630.3401855
 29970.50115279 13541.4717009   3686.88971858 25386.89747207
 13388.81122431 30618.1827406   3448.65652751 38884.70796431
 11121.99693302  4761.14156114  6780.21594009  2429.87520527
 25872.50698886 14379.47353592   503.15489125 12766.46056496
 12618.66784892 14960.6575963  34946.52236231 14390.53439304
 31516.17424126 10003.00239072 18206.94096962  5931.99337152
  8868.76488248  9335.37700674 15233.672736    9058.51439135
  8394.58170119 15042.10636357 12800.59455658 14812.64351999
  7446.21494732 25968.15221274  9170.82975278]