<a href="https://colab.research.google.com/github/GECarlo/CodingDojo/blob/main/Renaming%2C_Deleting%2C_%26_Missing_Data_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [102]:
# Import the data as a Pandas DataFrame.
import pandas as pd

In [103]:
# load the file Name the DataFrame bike_df
filename = '/content/drive/MyDrive/Colab Notebooks/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(filename)

In [104]:
# check the dataframe
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [105]:
# delete unnecessary columns
bike_df.drop('Unnamed: 7', inplace = True, axis = 1)
bike_df.drop('Unnamed: 8', inplace = True, axis = 1)
bike_df.drop('Unnamed: 9', inplace = True, axis = 1)

In [106]:
# check the dataframe
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [107]:
# rename unnamed: 6 to percent change
bike_df = bike_df.rename(columns = {'Unnamed: 6': 'percent_change'})
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [108]:
# count the missing values in the dataset and which columns are they in
bike_df.isnull().sum(axis = 0)

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

In [109]:
# fill the missing values in 2021 Counts with 0
bike_df['2021 Counts'] = bike_df['2021 Counts'].fillna(0)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602

In [115]:
# rename 2021 Counts to counts_2019 >
# there is a (space before the 2019 counts (31 counters) make sure to select it)
# this can be seen when bike_df.columns
bike_df.columns

Index(['Timeframe', 'Week of', 'counts_2019', 'counts_2020', 'counts_2021',
       'Change 2019-2020', 'percent_change'],
      dtype='object')

In [114]:
# rename columns 2019, 2020, 2021
bike_df = bike_df.rename(columns = {' 2019 counts (31 counters)': 'counts_2019',
                                    ' 2020 counts (31 counters)': 'counts_2020',
                                    '2021 Counts': 'counts_2021'})
bike_df.head()

,Timeframe,Week of,counts_2019,counts_2020,counts_2021,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,0.0,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,0.0,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,0.0,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,0.0,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,0.0,0.249166,124.916602